html,
body {
  margin: none;
  padding: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: #252627;
  color: #f1faee;
}

.navigation {
  background-color: #bb0a21;
  height: 50px;
  animation-name: navegacao;
  animation-duration: 1s;
}
.navigation ul {
  margin-top: 0;
  list-style: none;
  padding-left: 0;
  text-align: center;
  height: 50px;
  font-size: 18px;
}
.navigation a {
  text-decoration: none;
  color: #f1faee;
  font-size: 18px;
}

.navigation a:hover {
  color: black;
}
.navigation li {
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 50px;
  font-weight: 100;
  font-weight: 400;
  font-style: bold;
}

.navigation li.threeline-icon {
  display: none;
}

.navigation li.threeline-icon:hover {
  color: #e63946;
  cursor: pointer;
}

spam {
  display: block;
  color: #e63946;
}

.capa div {
  display: inline-block;
  height: 650px;
}

.profile-pic {
  width: 40%;
  text-align: center;
  animation-name: profile-capa;
  animation-duration: 1s;
}

.profile-pic img {
  width: 400px;
  border-radius: 400px;
  margin-top: 200px;
}

.profile-info {
  vertical-align: top;
  margin-left: 0;
  width: 59%;
  margin-top: 0px;
  animation-name: titulo-capa;
  animation-duration: 1s;
}

.profile-info h1 {
  font-size: 58px;
  margin-top: 350px;
  font-weight: 400;
  line-height: 58px;
  text-transform: uppercase;
}

.profile-info h2 {
  font-size: 18px;
  font-weight: 100;
  margin-top: -30px;
}


.main {
  padding: 8% 8% 8% 8%;
  animation-name: conteudo;
  animation-duration: 1s;
}
.main h1 {
  color: #f1faee;
  font-weight: normal;
}

.main h2 {
  color: white;
  font-weight: normal;
  font-size: 18px;
  text-transform: uppercase;
}

.main h3 {
  color: #e63946;
  font-size: 14px;
  text-transform: uppercase;
}

.ajuste {
  margin-top: 60px;
}

.main p {
  font-size: 18px;
  font-weight: 100;
  line-height: 25px;
  text-align: justify;
}

.main a {
  color: #f1faee;
  font-weight: 100;
  font-size: 18px;
}

.main a:hover {
  color: #e63946;
}

.cv-picture {
  float: left;
  width: 200px;
  height: 200px;
  margin-right: 20px;
}

.icon-img {
  width: 50px;
  height: 50px;
  display: inline-block;
}

.social-media {
  padding-left: 0px;
}
.social-media li {
  display: inline-block;
  margin-right: 10px;
}

.caminho {
  list-style: none;
  padding-left: 0px;
  font-weight: 100;
  font-size: 18px;
}

.caminho li {
  display: inline-block;
}

.hobbies{
  margin-left:5%;
}

.hobbies a {
  text-decoration: none;
  padding: none;
  margin: none;
}

.miniatura {
  margin-top: 0px;
  width: 300px;
  height: 300px;
  background-size: 100% 100%;
  display: inline-block;
  margin-left: none;
  padding: none;
}

.minitura a {
  text-decoration: none;
  margin: none;
  padding:none;
}

.miniatura p {
  margin: none;
  padding:none;
  display: inline-block;
}

.blackbox {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: 1s;
}

.blackbox:hover {
  opacity: 0.8;
  transition: 1s;
}

.blackboxtext {
  text-align: center;
}
.blackboxtext h1 {
  padding-top: 40%;
  margin-top: 0;
  font-size: 18px;
  color: #e63946;
  text-transform: uppercase;
}

.blackboxtext h2 {
  margin-top: 0;
  text-transform: none;
  font-weight: 100;
}

/* slider */
/* Hide the images by default */
.mySlides {
  display: none;
}

.first{
  display:block;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 18px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 100;
  padding: 8px 12px;
  position: top;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* slider */


@keyframes profile-capa {
  0% {
    opacity: 0;
    transform: translate(0px, 20px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes titulo-capa {
  0% {
    opacity: 0;
    transform: translate(0px, -20px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes navegacao {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes conteudo {
  0% {
    opacity: 0;
    transform: translate(-20px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}


@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.spotify {
  width: 100%;
  padding-left: 0%;
  padding-right: 0%;
  margin-right: none;
  align-content: center;
  align-items: center;
}

.spotify iframe {
  display: inline-block;
  width: 33%;
  height: 50%+30%;
}


.descricao{
  margin-left: 1%;
  width:70%;
  display: inline-block;
  vertical-align: top;
  text-align: justify;
  font-weight:100;
  font-size: 18px;
}

.livro-capa {
  width:15.4%;
  background-color:red;
  display: inline-block;
  vertical-align: top;
  margin-left: 8%;
}


.estande h3 {
  color: #f2f2f2;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 18px;
}

.estande a{
  color: #f1faee;
  font-weight: 100;
  font-size: 18px;
}







/* Ajuste Para telas menores */

@media (max-width: 1000px) {
  .navigation li {
    display: none;
  }

  .navigation li.threeline-icon {
    display: inline-block;
  }

  .capa div {
    height: auto;
    display: block;
  }
  .profile-pic {
    margin-top: 0px;
    width: 100%;
  }

  .profile-pic img {
    margin-top: 20px;
    max-width: 60%;
  }

  .profile-info {
    margin-top: 0px;
    width: 100%;
    text-align: center;
  }

  .profile-info h1 {
    font-size: 36px;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .profile-info h2 {
    font-size: 18px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .main {
    padding: 10px 5% 40px 5%;
  }

  .main {
    font-size: 14px;
  }
  .main p {
    line-height: 30px;
    font-size: 16px;
  }

  .cv-picture {
    float: none;
    max-width: 100%;
    margin-right: 0px;
  }

  .menujs {
    height: auto;
    overflow: hidden;
  }

  .menujs ul {
    height: auto;
    text-align: center;
    padding-right: 15%;
    padding-left: 15%;
  }

  .menujs li {
    display: block;
    border-bottom: solid grey 1px;
    width: 100%;
    padding: 0px;
  }

  .miniatura {
    max-width: 100%;
    background-size: 100% 100%;
    display: block;
  }

  .ajuste {
    margin-top: 0px;
  }
}
